/*
    Overall styling
*/

::selection {
    background-color: rgb(10, 16, 45);
    color: #f2f2f2;
}

*{
    font-family: 'Source Code Pro', monospace;
}

/*
    Hero section styling
*/

.container-fluid {
    padding: 0;
}

.hero {
    background: rgb(10, 16, 45);
    background: radial-gradient(circle, rgb(10,16,45) 50%, rgb(242,242,242) 100%);
    height: 500px;
    transition: background-color 1s;
    z-index: 1;
}

.hero #code, #with, #integrity, #and, #dedication {
    transition: all 0.5s ease-in-out;
}

.hero #code:hover, #with:hover, #integrity:hover, #and:hover ,#dedication:hover {
    color: blueviolet;
    transform: scale(1.2);
}

.animatedHeroWords {
    color: rgb(10, 16, 45);
    font-size: 0;
    line-height: 1.6;
}

.animatedHeroWords span {
    font-family: 'Archivo Black', sans-serif;
    font-size: 52px;
    animation: move 10s ease-in-out infinite;
}

.animatedHeroWordsSmallerFont span {
    font-size: 26px;
}

/* The animation for the hero section of the page*/

@keyframes move {
    0% {
        transform: translate(-30%, 0);
    }
    10% {
        color: #f2f2f2;
    }
    25% {
        color: rgb(10, 16, 45);
    }
    50% {
        text-shadow: 0px 6.25px 12.5px #f2f2f2
    }
    75% {
        color: #f2f2f2;
    }
    100% {
        transform: translate(30%, 0);
    }
}

/* Delaying the animation for each span (letter) element by 0.2s */

    .animatedHeroWords span:nth-child(2){
    animation-delay: 0.2s;
}
    .animatedHeroWords span:nth-child(3){
    animation-delay: 0.4s;
}
    .animatedHeroWords span:nth-child(4){
    animation-delay: 0.6s;
}
    .animatedHeroWords span:nth-child(5){
    animation-delay: 0.8s;
}
    .animatedHeroWords span:nth-child(6){
    animation-delay: 1s;
}
    .animatedHeroWords span:nth-child(7){
    animation-delay: 1.2s;
}
    .animatedHeroWords span:nth-child(8){
    animation-delay: 1.4s;
}
    .animatedHeroWords span:nth-child(9){
    animation-delay: 1.6s;
}
    .animatedHeroWords span:nth-child(10){
    animation-delay: 1.8s;
}
    .animatedHeroWords span:nth-child(11){
    animation-delay: 2s;
}

/*
    Navigation bar styling
*/

.navigationBar {
    background: rgb(10,16,45);
    border-radius: 0px 0px 20px 0px;
    position: sticky;
    top: 0;
}

.navigationBar a {
    padding-left: 14.5px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s ease-in-out;
}

.navigationBar a:hover {
    color: blueviolet;
}

/* Custom styling for the Bootstrap classes to apply proper color palets and adjust positioning*/

.navbar-dark .navbar-nav .nav-link {
    margin-left: 10px;
    color: #f2f2f2;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: blueviolet;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-dark .navbar-toggler {
    color: #f2f2f2;
    border-color: #f2f2f2;
}

#homeIcon {
    margin: 10px;
    padding: 10px;
    border-right: 1px solid #0d0d0d;
    filter: invert(100%);
    transition: all 1s ease-in-out;
}

#homeIcon:hover {
    border-right-color: #75d41d;
}

/*
    Main content styling
*/

.content {
    grid-area: content;
    padding: 100px 20px 20px 20px;
    
}

.contentHeader {
    background-color: blueviolet;
}


/*
    Right side navigation styling
*/

.rightSidebar{
    grid-area: rightSidebar;
    margin: 100px 20px 101px 0px;
    max-height: 410px;
    max-width: 250px;
    border: 1px solid rgb(10, 16, 45);
    border-radius: 0px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-self: right;
    position: sticky;
    top: 100px;
    z-index: -1;
    background-color: #f2f2f2;
}

.rightSidebar a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid gray;
    color: rgb(10, 16, 45);
}

.rightSidebar a:hover {
    animation: highlight 3s ease-in-out infinite;
}

@keyframes highlight {
    0%  {
        color: #f2f2f2;       
    }
    30% {
        background-color: rgb(10, 16, 45);
    }
    100%{
        background-color: #f2f2f2;
        color: rgb(10, 16, 45);
    }
}

.rightSidebar a:nth-child(1){
    border-radius: 0px 20px 0px 0px;
}

.rightSidebar a:active {
    background-color: rgb(10, 16, 45);
    color: red;
    
}


/*
    Footer styling
*/

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background: rgb(10,16,45);
    background: linear-gradient(180deg,
              rgb(255,255,255) 0%,
              rgb(10,16,45) 100%);
    /* border-radius: 0px 20px 0px 0px; */
    height: 100px;
}

.fa {
    padding: 25px;
    font-size: 45px;
    text-decoration: none;
    color: #f2f2f2;
}

@media (max-width: 991.98px) { 
    .hero {
        background: none;
        background-color: rgb(10,16,45);
    }
 }
@media (max-width: 359.98px) { 
    .animatedHeroWords span {font-size: 36px;}
    .animatedHeroWordsSmallerFont span {font-size: 23px;}
}

/* TODO :
    *REFACTOR ENTIRE CODE WITH BOOTSTRAP 5* 
    responsive web design
    !!!responsive web design for navbar !!!
    style and workout the ins and outs of the right sidebar
    make sure to add custom margin and padding to content elements because navigation swallows them whole (some sort of fix was applied not enough)
    start working on a validation form, eventually an about page
    make proper color styles pointers to colors
    login form + authentication
    connect social media to footer (make sure there is something to show before connecting)

    push changes to github

// Removed styling when Bootstrap5 was implemented

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template: none;
    grid-template-areas: 
    "hero          hero          hero"
    "navigationBar navigationBar navigationBar"
    "content       content       rightSidebar"
    "footer        footer        footer";
}

.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.navigationBar{
    grid-area: navigationBar;
    z-index: 2;

}

.navigationBar ul {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navigationBar li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    
}

*/